{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "require-jsdoc": "off",
    "valid-jsdoc": "off",
    "operator-linebreak": ["error", "before"],
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  }
}
